.section {
  padding: 10px 15px;
}

.card {
  border-radius: 15px;
  box-shadow: 0 5px 15px 16px rgb(0, 0, 0, 0.08);
}

.action-text {
  font-weight: 500;
}

.action-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.action-block {
  text-align: center;
}

.action-block .icon-img-box {
  cursor: pointer;
  background-color: #6739b7;
  border-radius: 15px;
  width: 40px;
  height: 40px;
  padding: 10px 5px 0 5px;
  margin: auto;
}

.icon-img-box > img {
  width: 30px;
}

.action-block .action-mssg {
  margin: 5px;
  font-weight: 500;
}

.action-block .action-mssg:hover {
  text-decoration: none;
}

.scan-qr-mssg {
  text-align: center;
  font-weight: 500;
}

.scan-button-box {
  text-align: center;
}

.scan-camera {
  margin-bottom: 10vh;
  text-align: center;
}

.scan-button {
  background-color: #6739b7;
  padding: 100px 68px;
  color: #fff;
  margin: 10px 0;
  border-radius: 100%;
  font-size: large;
  box-shadow: 0 5px 15px 16px rgb(0, 0, 0, 0.08);
}

.auth-btn-div {
  text-align: center;
}

.auth-btn {
  background-color: #6739b7;
  padding: 10px 15px;
  color: #fff;
  border-radius: 15px;
}

.qr {
  text-align: center;
}

.qr-upi {
  color: white;
  background-color: #44247c;
  padding: 1vh 15px;
  margin: 1vh 0;
  border-radius: 15px;
}

.avail-amount {
  color: #44247c;
  font-size: x-large;
  font-weight: 500;
}
